.layout {
  max-width: 960px;
  min-height: 100dvh;
  padding: var(--space2) var(--space4);
  margin: 0 auto;
  background-color: var(--stale-50);
}

.header {
  margin-bottom: var(--space4);
}

.prefectures {
  margin-bottom: var(--space4);
}
